:root {
--very-dark-desaturated-blue: hsl(238, 29%, 16%);
--soft-red: hsl(14, 88%, 65%);
--soft-violet: hsl(273, 75%, 66%);
--soft-blue: hsl(240, 73%, 65%);
--very-dark-grayish-blue: hsl(237, 12%, 33%);
--dark-grayish-blue: hsl(240, 6%, 50%);
--light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  height: 100vh;
  display: grid;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 500px 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 550px;
  background-color: #ffffff;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom -120px left -580px;
  border-radius: 30px;
}

.first-half {
  height: 100%;
  background-image: url(/images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position: center left -80px;

  &-womenillustration {
    display: none;
  }

  &-boximg {
    display: block;
    position: relative;
    // top: 45%;
    // left: 370px;

    img {
      position: absolute;
      top: 235px;
      left: -100px;
    }
  }
}

.second-half {
  width: 80%;
  margin-left: 10px;

  h1 {
    color: var(--very-dark-desaturated-blue);
  }

  &-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  }

  &-accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 18px 0 12px 0;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-align: left;
    width: 100%;
    color: var(--very-dark-grayish-blue);
  }
  
  &-accordion:hover {
    color: var(--soft-red);
  }
  
  &-accordion:focus {
    font-weight: bold;
    transition: 0.2s ease-out;
  }

  &-accordion:after {
    content: url(/images/icon-arrow-down.svg);
    float: right;
  }
  
  &-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    p {
      margin-top: 0;
      font-size: 13px;
      color: var(--dark-grayish-blue);
    }
  }
}

.active:after {
  content: url(/images/icon-arrow-down.svg);
  transform: rotate(180deg);
  transition: 0.1s ease-out;
}

@media only screen and (max-width: 500px) {
  .container {
    margin-top: 50px;
    height: 470px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(/images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
  }

  .first-half {
    background-image: none;
    
    &-womenillustration{
      display: inline;
      // background-color: chartreuse;
      // width: 100px;
      // height: 20px;
      position: relative;
      
      img {
        position: absolute;
        top: -105px;
        left: -3px;
      }
    }

    &-boximg {

      img {
        display: none;
      }
    }
  }

  .second-half {
    margin-top: 70px;

    &-box {
      padding: 3px;   
    }

    &-accordion {
        
      font-size: 14px;
    }

    &-panel {

      p {
        font-size: 13px;
        line-height: 1.4;
      }
    }

    h1 {
      margin-top: 10px;
      margin-bottom: 3px;
      text-align: center;
    }
  }
}

// @media only screen and (max-width: 1750px) {
//   .container {
//     width: 60%;
//   }
// }


// @media only screen and (max-width: 1450px) {
//   .container {
//     width: 70%;
//   }
// }

// @media only screen and (max-width: 1253px) {
//   .container {
//     width: 80%;
//   }
// }

// @media only screen and (max-width: 1095px) {
//   .container {
//     width: 90%;
//   }
// }

