:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--soft-violet)), to(var(--soft-blue)));
  background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 1fr;
      grid-template-columns: 500px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 550px;
  background-color: #ffffff;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom -120px left -580px;
  border-radius: 30px;
}

.first-half {
  height: 100%;
  background-image: url(/images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position: center left -80px;
}

.first-half-womenillustration {
  display: none;
}

.first-half-boximg {
  position: absolute;
  top: 45%;
  left: 370px;
}

.second-half {
  width: 80%;
  margin-left: 10px;
}

.second-half h1 {
  color: var(--very-dark-desaturated-blue);
}

.second-half-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.second-half-accordion {
  background-color: transparent;
  cursor: pointer;
  padding: 18px 0 12px 0;
  border: none;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: left;
  width: 100%;
  color: var(--very-dark-grayish-blue);
}

.second-half-accordion:hover {
  color: var(--soft-red);
}

.second-half-accordion:focus {
  font-weight: bold;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.second-half-accordion:after {
  content: url(/images/icon-arrow-down.svg);
  float: right;
}

.second-half-panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.second-half-panel p {
  margin-top: 0;
  font-size: 13px;
  color: var(--dark-grayish-blue);
}

.active:after {
  content: url(/images/icon-arrow-down.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

@media only screen and (max-width: 500px) {
  .container {
    height: 470px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(/images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
  }
  .first-half {
    background-image: none;
  }
  .first-half-womenillustration {
    display: inline;
    position: relative;
  }
  .first-half-womenillustration img {
    position: absolute;
    top: -110px;
    left: -10px;
  }
  .first-half-boximg img {
    display: none;
  }
  .second-half {
    margin-top: 70px;
  }
  .second-half-box {
    padding: 3px;
  }
  .second-half-accordion {
    font-size: 13px;
  }
  .second-half-panel p {
    font-size: 11px;
    line-height: 1.4;
  }
  .second-half h1 {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */